<web-app>
    <servlet>
        <servlet-name>loginsess1</servlet-name>
        <servlet-class>login1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginsess1</servlet-name>
        <url-pattern>/loginsess1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginsess2</servlet-name>
        <servlet-class>login2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginsess2</servlet-name>
        <url-pattern>/loginsess2</url-pattern>
    </servlet-mapping>
</web-app>
